<div class="container">
  <h1>Signup Form</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
    <mat-form-field>
      <input matInput formControlName="c_email" placeholder="Email">
      <mat-label *ngIf="signupForm.get('c_email').hasError('required') && !signupForm.get('c_email').pristine ">
       Email should not be empty</mat-label>
      <mat-label *ngIf="signupForm.get('c_email').hasError('c_email') && !signupForm.get('c_email').pristine ">Invalid Email
      </mat-label>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="c_name" placeholder="Name">
      <mat-label *ngIf="signupForm.get('c_name').hasError('required') && !signupForm.get('c_name').pristine ">
       Name should not be empty s</mat-label>
      <mat-label *ngIf="signupForm.get('c_name').hasError('c_email') && !signupForm.get('c_name').pristine ">Invalid Email
      </mat-label>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="c_con" placeholder="Contact Number">
      <mat-label *ngIf="signupForm.get('c_con').hasError('required') && !signupForm.get('c_con').pristine ">contact numnber
        should not be empty</mat-label>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" matInput formControlName="c_pass" placeholder="Password">
      <mat-label *ngIf="signupForm.get('c_pass').hasError('required') && !signupForm.get('c_pass').pristine ">password
        should not be empty</mat-label>
    </mat-form-field>
    <br>
    <mat-form-field>

      <input type="date" matInput formControlName="c_dob">
      <mat-label *ngIf="signupForm.get('c_dob').hasError('required') && !signupForm.get('c_dob').pristine ">date of birth
        should not be empty</mat-label>
    </mat-form-field>
    <br>



    <button class="mainbutton" type="submit" mat-raised-button color="primary">sign up</button>
  </form>
</div>

