<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <mat-form-field class="search" style="width: 100%;margin-left: 1%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.t_name}} </td>
  </ng-container>

  <!-- gender Column -->
  <ng-container matColumnDef="gen">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.t_gen}} </td>
  </ng-container>

  <!-- dob Column -->
  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
    <td mat-cell *matCellDef="let element"> {{element.t_dob}} </td>
  </ng-container>

  <!-- contact Column -->
  <ng-container matColumnDef="con">
    <th mat-header-cell *matHeaderCellDef> Contact </th>
    <td mat-cell *matCellDef="let element"> {{element.t_con}} </td>
  </ng-container>

  <!-- Qualification Column -->
  <ng-container matColumnDef="qlf">
    <th mat-header-cell *matHeaderCellDef> Qualification </th>
    <td mat-cell *matCellDef="let element"> {{element.t_qlf}} </td>
  </ng-container>

  <!-- experience Column -->
  <ng-container matColumnDef="exp">
    <th mat-header-cell *matHeaderCellDef> Experience </th>
    <td mat-cell *matCellDef="let element"> {{element.t_exp}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="moreInfo(element)">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button (click)=onUpdate(element)>
        <mat-icon class="update">open_in_new</mat-icon>
      </button>
      <button mat-icon-button (click)=onDelete(element)>
        <mat-icon class="delete">delete_outlined</mat-icon>
      </button>

    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="diaplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: diaplayedColumns;">
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<button mat-raised-button class="button" (click)="onAdd()">
  <mat-icon class="myicon">add_circle_outlined</mat-icon>Create New Trainer
</button>
