.mat-raised-button {
  margin: 2% 2% 2% 2%;
  position: relative;
  font-size: 18px;
  color: blue;
}

.b {
  font-size: 40px;
}

.myicon {
  font-size: 30px;
  margin-bottom: 10px;
  margin-right: 6px;
}

table {
  width: 96%;
  margin: 2% 2% 2% 2%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

