.mat-raised-button {
  margin: 2% 2% 2% 2%;
  color: darkblue;
}

.b {
  font-size: 40px;
}

.myicon {
  font-size: 26px;
  margin-top: 4px;
  margin-right: 6px;
  float:left;
}

table {
  width: 96%;
  margin: 2% 2% 2% 2%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

