<form [formGroup]="updateform" (ngSubmit)="onUpdate()" class="container">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="t_name"  >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="gender" formControlName="t_gen">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="date of birth" formControlName="t_dob">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="contact" formControlName="t_con">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="qualification" formControlName="t_qlf">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="expericence" formControlName="t_exp">
  </mat-form-field>
  <br>


  <button class="mainbutton" type="submit" mat-raised-button  color="primary">Update Trainer Details</button>
</form>
<br>
<!-- <h2>Update Image</h2>
<img src="http://localhost:3000/images/product_images/{{data2.p_img}}">
<input type="file" (change)="changeImage($event)">
<button class="button" mat-button  color="primary" (click)="updateImage()">Update Image</button> -->

