<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Subcategory Name </th>
      <td mat-cell *matCellDef="let element"> {{element.sct_name}} </td>
    </ng-container>

    <ng-container matColumnDef="subcatID">
      <th mat-header-cell *matHeaderCellDef> Subcategory ID </th>
      <td mat-cell *matCellDef="let element"> {{element.sct_id}} </td>
    </ng-container>

    <ng-container matColumnDef="catID">
      <th mat-header-cell *matHeaderCellDef> Category ID </th>
      <td mat-cell *matCellDef="let element"> {{element.fk_ct_id}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="subcatID">
      <th mat-header-cell *matHeaderCellDef> Subcategory ID </th>
      <td mat-cell *matCellDef="let element"> {{element.sct_id}} </td>
    </ng-container> -->

    <ng-container matColumnDef="catname">
      <th mat-header-cell *matHeaderCellDef>Category Name </th>
      <td mat-cell *matCellDef="let element"> {{element.ct_name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)=onDelete(element)>
          <mat-icon class="delete">delete_outlined</mat-icon>
        </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="diaplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: diaplayedColumns;">

  </table>
</div>

<br><br><br>
<div class="container">
  <mat-form-field>
    <mat-label>Select Category</mat-label>
    <mat-select required [(ngModel)]="ct_id">
      <mat-option *ngFor="let item of cat" [value]="item.ct_id">
        {{item.ct_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Enter Subcategory" [(ngModel)]="sct_name" required>
  </mat-form-field>

  <button class="mainbutton" mat-raised-button color="primary" (click)="onAdd()" [disabled]="sct_name==null">Add New
    Category</button>
</div>
