<div class="container">
  <h1>Trainer Details</h1>
  <form [formGroup]="trainerform" (ngSubmit)="onadd()">
    <mat-form-field>
      <input matInput type="text" formControlName="t_name" placeholder="trainer Name">
    </mat-form-field><br>
    <label id="example-radio-group-label">Select Gender</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="t_gen">
      <mat-radio-button class="example-radio-button" *ngFor="let gen of gender" [value]="gen">
        {{gen}}
      </mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field>
      <input matInput type="date" size=10 formControlName="t_dob" placeholder="date of birth">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="number" formControlName="t_con" placeholder="contact">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" formControlName="t_qlf" placeholder="qualification">
    </mat-form-field><br>
    <input type="file" formControlName="t_img" (change)="onChange($event)">
    <br>
   <mat-form-field>
      <input matInput type="text" formControlName="t_exp" placeholder="experiance">
    </mat-form-field><br>

    <button class="mainbutton" color="primary" type="submit" mat-raised-button color="primary">Add New Trainer</button>
  </form>
</div>

