<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'side' : 'side'">
    <mat-toolbar style="font-size: 35px;margin: 10px 10px 0px 0px;">MENU</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/" *ngIf="user_login">Log in</a>
      <a mat-list-item routerLink="/nav/userinfo">
        <mat-icon>people</mat-icon>
        <p>Users</p>
      </a>

      <a mat-list-item routerLink="/nav/trainerdisplay">
        <mat-icon>people</mat-icon>
        <p>trainer</p>
      </a>

      <a mat-list-item routerLink="/nav/product">
        <mat-icon>group_work</mat-icon>
        <p>Product</p>
      </a>

      <a mat-list-item routerLink="/nav/category">
        <mat-icon>category</mat-icon>
        <p>Category</p>
    </a>

      <a mat-list-item routerLink="/nav/email">
        <mat-icon>mail</mat-icon>
        <p>Email</p>
      </a>

      <a mat-list-item routerLink="/nav/signup">
        <mat-icon>account_circle</mat-icon>
        <p>SignUp</p>
      </a>
      <a mat-list-item (click)="logOut()">
        <mat-icon>power_settings_new</mat-icon>
        <p>Logout</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon style="color: white;">menu</mat-icon>
      </button>
      <span>Kratos Fitness & academy hello {{user_mail}}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
