.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

p{
font-weight: 500;
font-size: larger;
margin-left:5px;
}

.mat-icon{
  color:black;
  margin-right: 5px;
}

