.mat-raised-button {
  margin: 2% 2% 2% 2%;
  position: relative;
  font-size: 18px;
  color: blue;
}

.b {
  font-size: 40px;
}

.myicon {
  font-size: 25px;
  margin-top: 4px;
  margin-right: 6px;
  float:left;
}

table {
width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.delete{
  color: red;
}

.update{
  color: blue;
}
