<div class="mat-elevation-z8">
  <mat-form-field style="width: 65%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-checkbox  matTooltip="Show products only with Promocode" (change)="onPromoBox()" style="float: right;margin: 1.6% 4% 0% 3%;">
    Promocode
  </mat-checkbox>
  <mat-form-field style="float: right;margin-right: 1%;">
    <mat-select (selectionChange)="onCategoryChange()" [(value)]="selectedcat">
      <mat-option [value]=-1 selected>All</mat-option>
      <mat-option *ngFor="let item of cat" [value]="item.ct_id">
        {{item.ct_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="onCheckBoxChange(element)"></mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.p_name}} </td>
    </ng-container>


    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.p_price}} </td>
    </ng-container>


    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.p_qty}} </td>
    </ng-container>


    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.p_stock}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.fk_sct_id}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="moreInfo(element)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button (click)=onUpdate(element)>
          <mat-icon class="update">open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)=nDelete(element)>
          <mat-icon class="delete">delete_outlined</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="promo">
      <th mat-header-cell *matHeaderCellDef> Promocode </th>
      <td mat-cell *matCellDef="let element"> {{element.p_code}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="diaplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: diaplayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<button mat-raised-button class="button" (click)="onAdd()">
  <mat-icon class="myicon">add_circle_outlined</mat-icon>Create New Product
</button>

<button mat-raised-button class="button" (click)="onAddPromocode()" [disabled]="this.checkarr.length<=0"
  style="color: darkgreen;">
  <mat-icon class="myicon">add_circle_outlined</mat-icon>Add Promocode
</button>
<button mat-raised-button class="button" (click)="onDeletePromocode()" [disabled]="this.checkarr.length<=0"
  style="color: darkred;">
  <mat-icon class="myicon">remove_circle_outlined</mat-icon>Remove Promocode
</button>
<button mat-raised-button class="button" (click)="onDeleteAllClick()" [disabled]="this.checkarr.length<=0"
  style="color:darkred;">
  <mat-icon class="myicon">delete_outlined</mat-icon>Delete All
</button>
