table{
  width:100%;

}
.mat-form-field{
  font-size:14px;
  width:100%;
}
.columnstyle{
  margin-left:1300px;
}
.mat-button{
  width:100%;
  font-size: larger;
  font-style: bold;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
