<div class="container">
  <h1>Product Add</h1>
  <form [formGroup]="productform" (ngSubmit)="onAdd()">
    <mat-form-field>
      <input matInput type="text" formControlName="p_name" placeholder="Product Name">
      <mat-error *ngIf="">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="p_price" placeholder="Price">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Category</mat-label>
      <mat-select formControlName="fk_sct_id">
        <mat-option *ngFor="let item of cat" [value]="item.sct_id">
          {{item.sct_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="p_dis" placeholder="Discription">
    </mat-form-field>
    <mat-form-field style="width: 74%;">
      <input matInput type="number" formControlName="p_qty" placeholder="Quantity">
    </mat-form-field>
    <mat-form-field class="customselect" style="width:25%">
      <mat-label>Select Unit</mat-label>
      <mat-select formControlName="p_unit">
        <mat-option *ngFor="let item of unit" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="p_stock" placeholder="Available Stock">
    </mat-form-field>
    <div formArrayName="p_ben" *ngFor="let item of productform.get('p_ben')['controls']; let i = index">
      <div [formGroupName]="i">
        <mat-form-field>
          <input matInput formControlName="new_ben" placeholder="Product Benifit {{i+1}}">
        </mat-form-field>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-stroked-button type="button" (click)="newControl()">
        <mat-icon>add</mat-icon>New Benifit
      </button>
      <mat-hint>Benifits are not editable.</mat-hint>
    </div>
    <br>
    <input type="file" formControlName="p_img" (change)="onChange($event)">
    <br>
    <mat-form-field>
      <textarea matInput rows="3" formControlName="p_usage" placeholder="How to use this product ?"></textarea>
    </mat-form-field>
    <br>

    <button type="submit"class="mainbutton" mat-raised-button color="primary" [disabled]="productform.invalid">Add New Product</button>
  </form>

</div>
