table{
  width:100%;

}
.mat-form-field{
  font-size:14px;
  width:100%;
}
.customselect{
  float: right;
  margin-left: 1%;

}
.mat-button{
  width:100%;
  font-size: larger;
  font-style: bold;
}
.columnstyle{
  margin-left:1300px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
