<form [formGroup]="updateform" (ngSubmit)="onUpdate()" class="container">
<h2>Update Product Details</h2>
  <mat-form-field>
    <input matInput placeholder="Product Name" formControlName="p_name"  >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Price" formControlName="p_price">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Select Category</mat-label>
    <mat-select formControlName="fk_sct_id">
      <mat-option *ngFor="let item of cat" [(value)]="item.sct_id">
        {{item.sct_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Discription" formControlName="p_dis">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 74%;">
    <input matInput placeholder="Quantity" formControlName="p_qty">
  </mat-form-field>
  <mat-form-field class="customselect" style="width:25%">
    <mat-label>Select Unit</mat-label>
    <mat-select formControlName="p_unit">
      <mat-option *ngFor="let item of unit" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Available Stock" formControlName="p_stock">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput rows="3" formControlName="p_usage" placeholder="How to use this product ?"></textarea>
  </mat-form-field>
  <br>
  <button class="mainbutton" type="submit" mat-raised-button  color="primary">Update Product</button>
</form>
<br>
<div class="container">
<h2>Update Product Image</h2>
<img src="http://localhost:3000/images/product_images/{{data2.p_img}}" height="350" width="300" style="position: relative;">
<br>
<input type="file" (change)="changeImage($event)">
<br>
<button class="mainbutton" mat-raised-button color="primary" (click)="updateImage()">Update Image</button>
</div>
