/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container {
  width: 96%;
  margin: 2% 2% 2% 2%;
}

.mat-elevation-z8{
  width: 96%;
  margin: 1% 1% 1% 2%;
  box-shadow: 1px 1px 3px gray;
  border-color:3px solid gray;
}
.search{
  width: 98%;
  margin-left:1%;
}
