/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container {
  width: 95%;
  margin: 2% 2% 2% 2%;
  box-shadow: 1px 1px 7.5px gray;
  border-radius: 3px;
  padding: 0.5%;
  background-color: white;
}

.mat-elevation-z8{
  width: 96%;
  margin: 2% 1% 1% 2%;
  border-radius: 3px;
  background-color: white;
}

.mat-paginator{
  border-radius: 3px;
}

.button {
  margin: 2% 2% 2% 2%;
  position: relative;
  font-size: 18px;
  color: whitesmoke;
}

.button {
  margin: 2% 2% 2% 2%;
  color: darkblue;
}

.b {
  font-size: 40px;
}

.myicon {
  font-size: 26px;
  margin-top: 4px;
  margin-right: 6px;
  float:left;
}

table {
width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.delete{
  color: darkred;
}

.update{
  color: darkblue;
}

.mat-tooltip{
  font-size: smaller;
}

.mainbutton{
  width:100%;
  font-size: larger;
  font-style: bold;
  margin-top: 2%;
  color:blue;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.mat-form-field{
  font-size:14px;
  width:100%;
}
